:global(body) {
  margin: 0;
  padding: 0;
  font-family: ABCSans, sans-serif;
}
.container {
  display: flex;
  height: 100vh;
}
.container-viz {
  flex: 1;
  min-width: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.container-controls {
  width: 22rem;
  @media (min-width: 1920px) {
    width: 25rem;
  }
  padding: 2rem 1rem;
  background: rgba(0, 0, 0, 0.04);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 100vh;
  overflow: auto;
}

.iframe {
  width: calc(100% - 2rem);
  height: calc(100vh - 2rem);
  margin: 1rem;
  border: 0;
}

:global {
  fieldset {
    margin-bottom: 1rem;
    padding: var(--padding);
    border: 1px solid var(--c-grey, lightgray);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  ul {
    margin: 0;
  }

  .fieldset {
    padding: 0 var(--padding);
    border: 1px solid transparent;
  }
  .fieldset,
  fieldset {
    --padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    &.builder__spacious {
      --padding: 1rem;
      legend {
        font-weight: bold;
      }
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }

  label {
    & > span {
      display: block;
      margin-bottom: 0.3rem;
    }
    margin-bottom: 0.5rem;
  }

  select,
  button,
  input {
    padding: 0.25rem 0.5rem;
    background: var(--c-white, white);
    border: 1px solid var(--c-grey, lightgray);
    border-radius: 0.2rem;
  }
  select:not([multiple]),
  button:not(:disabled) {
    cursor: pointer;
    &:hover,
    &:focus-visible {
      border-color: var(--c-black, black);
      background: Highlight;
      color: HighlightText;
    }
  }

  select,
  input[type='text'] {
    width: 100%;
  }

  .btn-icon {
    padding: 0;
    display: inline-flex;
    height: 1.5rem;
    width: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  .builder__submit-row {
    text-align: right;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
  }
}
