.base {
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  max-width: 350px;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  color: #111;
  font-family: ABCSans, Helvetica, Arial, sans-serif;
  font-size: 13px;

  transition: all 0.3s ease;

  * {
    box-sizing: border-box;
  }
}

.hideIndicator {
  width: 50px;
  height: 4px;
  background: #ccc;
  border-radius: 2px;
  margin: 5px auto;
  cursor: pointer;
}

.title {
  text-align: center;
  font-weight: bold;
  margin: 10px auto 0 auto;
}

.info {
  display: flex;
}

.section {
  flex: 1 0;
  padding: 10px 0 0 10px;
  &:last-of-type {
    padding-right: 10px;
  }
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;

  h3 {
    font-size: 11px;
    font-weight: normal;
    margin: 0 0 5px 0;
    padding: 0;
  }
}

.cyclonePath {
  width: 60px;
  height: 20px;
}

.area {
  display: inline-block;
  vertical-align: baseline;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 5px;
  background: black;
}

.circle {
  display: inline-block;
  vertical-align: baseline;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 100%;
  margin-right: 5px;
}

.footer {
  font-size: 10px;
  text-align: center;
  margin: 10px auto 5px auto;
}
