.base {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  cursor: move;

  *::selection {
    background: transparent;
  }
}

.track {
  stroke-dashoffset: 0;
  pointer-events: none;
}

.base path {
  vector-effect: non-scaling-stroke;
}
